/* 
1.Absolute is relative to parent and other. 

2.but it take the four rule
    1. left
    2. top
    3. right
    4. bottom

3.it relative to the parent and other class.

4. When You Set the Position Absolute it complete exit from the Default layout in Z axis ()

5. we can set LTRB properties.

6.if did't set relative to the its parent its automatically relative to the document that mean body 

7.if set the position relative to parent it it take absolute element take position relative to that parent.

*/

*
{
    margin: 0px;
    padding: 0px;

}

/* html
{
    position: relative;
} */
.main-box
{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    position: relative;
    
}
.sub-box
{
    width: 350px;
    height: 350px;
    border: 1px solid red;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.box
{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    
    
}

.box1
{
    background-color: green;
    position: absolute;
    top: 100px;
    left:  100px;
}
.box2
{
    background-color: yellow;
    
    
    
    
}
.box3
{
    background-color: red;
}